<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  aria-label="Eleventh navbar example"
>
  <div class="container">
    <a
      class="navbar-brand"
      routerLink=""
      data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse.show"
      >Foodie</a
    >

    <div class="d-block">
      <button
        class="btn btn-success d-lg-none"
        routerLink="/login"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
      >
        Login
      </button>
      <button
        class="btn btn-primary mx-2 d-lg-none"
        routerLink="/register"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
      >
        Register
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample09"
        aria-controls="navbarsExample09"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center text-lg-start">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            >Contact</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Project</a
          >
          <ul class="dropdown-menu">
            <li><a href="#abc" class="dropdown-item">Web Developemnt</a></li>
            <li><a href="#abc" class="dropdown-item">Design</a></li>
            <li><a href="#abc" class="dropdown-item">Consult</a></li>
          </ul>
        </li>
      </ul>
      <form role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>

      <div class="text-center text-sm-start my-3 my-sm-0 d-none d-lg-block">
        <button class="btn btn-success mx-2" routerLink="/login">
          Login
        </button>
        <button class="btn btn-primary" routerLink="/register">
          Register
        </button>
      </div>
    </div>
  </div>
</nav>
