<div class="container">
    <h1 class="display-4 mt-4">Contact</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quam minima est recusandae ab
        sit
        distinctio aut impedit nihil, nesciunt, debitis facilis fugiat porro natus architecto! Fugiat quam ut minima.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, earum labore? Exercitationem nobis voluptates
        sed vitae. Ipsa cumque iste nisi officia veniam assumenda quidem odio laudantium quaerat soluta rem error et
        tempora necessitatibus provident expedita fugiat modi ad aut natus, eveniet iusto! Reprehenderit, officia
        maiores! Quidem sint nemo eos inventore quia vitae voluptatum aliquid saepe dicta dignissimos voluptatem
        deserunt, cum ad eaque assumenda? Quisquam hic cum consequatur, voluptatum numquam accusamus similique iure
        corporis animi dolores neque aut accusantium. Optio, voluptas aut sapiente magnam, fuga soluta reprehenderit
        dolores, voluptatem vitae est enim distinctio sequi? Sunt eaque enim eius perspiciatis ipsa cumque.</p>
</div>
